.button-link {
  display: block;
  text-align: center;
  padding: var(--button-link-padding);
  margin: 4px;
  color: black;
  font-size: var(--button-link-font-size);
  background: white;
  border-radius: 4px;
  text-decoration: none;
  transition: transform 0.1s ease-in, background-color 0.1s ease-in;
}

.button-link:hover {
  transform: translateY(1px);
  background-color: rgba(255,255,255,0.90);
}

.button-link:active {
  transform: translateY(2px);
  background-color: rgba(255,255,255,0.80);
}

.button-link-about {
  display: block;
  text-align: center;
  padding: var(--button-link-padding);
  margin: 12px;
  color: white;
  font-size: 16px;
  text-decoration: none;
  transition: transform 0.1s ease-in, background-color 0.1s ease-in;
}
