:host {
  display: none;
  color: #ffffff;
}

:host([active]) {
  display: block;
}

[hidden] {
  display: none !important;
}

h1 {
  font-family: var(--header-font);
}

textarea {
  overflow: auto;
  resize: none;
  background: #000000;
  color: #ffffff;
  caret-color: white;
  border: 0;
  width: 100%;
  min-height: 8em;
  max-width: 300px;
  font-size: 1.15em;
}

textarea, input[type=text] {
  font-family: 'Anonymous Pro', monospace;
  font-display: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

input[type=text] {
  background-color: transparent;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #fff;
  color: #fff;
  min-width: 14em;
  max-width: 90vw;
  font-size: 1em;
}

button {
  font-family: 'Comfortaa', cursive;
  font-display: auto;
  background-color: #000000;
  color: #ffffff;
  font-size: 1.3em;
  padding: 0.2em;
  margin: 1em;
  border: none;
}

button:hover {
  background-color: #ffffff;
  color: #000000;
}

button, a {
  font-family: inherit;
}
