html {
  --button-link-padding: 8px 14px;
  --button-link-font-size: 20px;
  --page-padding: 20px;
  --header-font: 'Comfortaa', cursive;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  font-family: 'Anonymous Pro', monospace;
  font-display: auto;
  color: #ffffff;
}

main {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
}

main > * {
  opacity: 0;
  position: relative;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 1.25s;
  padding: var(--page-padding);
  transform: translateX(-100vw);
  pointer-events: none;
  min-height: calc(100vh - (var(--page-padding) * 2))
}

main > [active] {
  display: flex;
  pointer-events: initial;
  opacity: 1;
  transform: translateX(0);
}

h1 {
  color: #ffffff;
  text-align: center;
  font-family: var(--header-font);
  font-display: auto;
}

h2 {
  font-family: var(--header-font);
}

h3 {
  font-family: var(--header-font);
}

#error {
  z-index: 1000;
  background-color: rgba(0,0,0,0.5);
  text-align: center;
}

#question {
  flex-flow: column nowrap;
}

#home nav {
  display: flex;
  flex-flow: column nowrap;
}

.button-link {
  display: block;
  text-align: center;
  padding: var(--button-link-padding);
  margin: 4px;
  color: black;
  font-size: var(--button-link-font-size);
  background: white;
  border-radius: 4px;
  text-decoration: none;
  transition: transform 0.1s ease-in, background-color 0.1s ease-in;
}

.button-link:hover {
  transform: translateY(1px);
  background-color: rgba(255,255,255,0.90);
}

.button-link:active {
  transform: translateY(2px);
  background-color: rgba(255,255,255,0.80);
}

.button-link-about {
  display: block;
  text-align: center;
  padding: var(--button-link-padding);
  margin: 12px;
  color: white;
  font-size: 16px;
  text-decoration: none;
  transition: transform 0.1s ease-in, background-color 0.1s ease-in;
}

/*.glow {
  text-shadow: 1px 1px 4px white;
}*/

a.about {
  color: white;
  text-shadow: 1px 1px 4px #ccff99;
}

a.about:active {
  text-shadow: 1px 1px 4px #a6ff4d;
}

.button-link-privacy {
  display: block;
  text-align: center;
  padding: var(--button-link-padding);
  margin: 12px;
  color: white;
  font-size: 14px;
  text-decoration: none;
  transition: transform 0.1s ease-in, background-color 0.1s ease-in;
}

/*.glow {
  text-shadow: 1px 1px 4px white;
}*/

a.privacy {
  color: white;
  text-shadow: 1px 1px 4px #ccff99;
}

a.privacy:active {
  text-shadow: 1px 1px 4px #a6ff4d;
}

#ios-modal {
  font-size: 18px;
}

#ios-modal svg {
  height: 18px;
}
